<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
<ul>
	<li *ngFor="let card of card_list">
	<div class="card">
	
	
		<div class = "up">
			<div class = "photo">
				<img src = "../../assets/img/person/{{card.photo_src}}"/>
			</div>
		</div>
		
		
		
		<div class = "middle">
		
			<div class = "pastille">
				<img *ngIf = "card.presence[get_current_day()] == 'y'" src = "../../assets/img/conn.png"/>
				<img *ngIf = "card.presence[get_current_day()] == 'n'" src = "../../assets/img/no_con.png"/>
			</div>
	
			<div class = "name">
				{{card.name}}
			</div>
			
		</div>
		
		
		
		<div class = "down">
		</div>
		
		
	</div>
	<li>
	
	
	
<ul>
